<div id="share-container">
   
    <h2 id="share-small-title"><%=@user_name%>'s Routery</h2>
    <h1 id="share-title"><%=@trip_name%></h1>
    <div id="location-container">
          <% @locations.each do |location|%>
              <div class="location-box">
                <h2 class="location-name"><%=location.name%></h2>
                <h2 class="location-description"><%=location.description%></h2>
              </div>
          <%end%>

    </div>

</div>

<div id="map-canvas"></div>

<script>
	var initialize = function(){

    var map;
    var elevator;
    var myOptions = {
        zoom: 2,
        center: new google.maps.LatLng(0, 0),
        styles: mapStyle

    };
    map = new google.maps.Map($('#map-canvas')[0], myOptions);

    // input addresses here
    var addresses = <%=@arr%>;
    var names = <%=raw @names.to_json.gsub("</", "<\\/")%>
    var descriptions = <%=raw @descriptions.to_json.gsub("</", "<\\/")%>;
    

    
    var marker = [];
    var infowindow = [];
    for (var x = 0; x < addresses.length; x++) 
    {
        var latlng = new google.maps.LatLng(addresses[x][1], addresses[x][0]);
        marker[x] = new google.maps.Marker({
            position: latlng,
            map: map
            });

        
        var contentString =  '<div class="info-container"><h1 class="info-header">'+names[x].toString()+'</h1>'+'<p class="info-body">' + descriptions[x].toString() + '</p></div>';
        infowindow.push(new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        }));
    }

    // make clusters for markers
    var markerCluster = new MarkerClusterer(map, marker);

    // create function that's executed immediately
    function callInfoWindow(x) {
        return function() {
            infowindow[x].open(map, marker[x]);
        }
    }

    //creates all event listeners
    for(var x = 0; x < marker.length; x++)
    {
        google.maps.event.addListener(marker[x], 'click', callInfoWindow(x));
    }
 };





 $(document).ready(initialize);
 $(document).on('page:load', initialize);
</script>