<!-- Home Page -->
<div id="home-container">
    <div id="home-padding">    
        <div id="new_trip_form">
            <%= form_for Trip.new do |f| %>
            	<%= f.text_field :name, placeholder: "Enter New Trip", id: "new_trip_field"%>
            	<%= button_tag(type: 'submit', class: "submit", id: "new_trip_submit") do %>
                 <%=image_tag "train.svg", :class => "submit-icon"%> New Trip
                <% end %>
            <% end %>
        </div>


        <h2 id="home-title">The Reserve</h2>
        <div class="trips-container">
            <%@trips.each do |trip|%>
                <div class="trip-box">
            	<%= link_to "#{trip.name}", trip_path(trip),:class => "trip-name"%>
                    <div class="push-to-next-row">
                        <div class="edit-button">Edit</div>
                        <div class="edit-location">
                            <%=form_for trip, html: {method: "patch"} do |f|%>
                            <%=f.text_field :name, value: trip.name, class: "edit-trip-field"%>
                            <%=f.submit "Save", :class => 'submit submit-trip-change'%>
                            <%= link_to "Delete", trip, :method => :delete, :class => "delete-trip"%>
                            <%end%>
                        </div>
                    </div>
                </div>
                <!-- <div class="trip-divider"></div> -->
            <%end%>
        </div>
        <%=link_to "Shareable Link", shareall_path(@current_user), :class => "shareable"%>
    </div>
</div>

<div id="map-canvas"></div>



<script>

var initialize = function(){

    var map;
    var elevator;
    var myOptions = {
        zoom: 2,
        center: new google.maps.LatLng(0, 0),
        // this makes terrain show
        // mapTypeId: 'terrain',
        styles: mapStyle

    };
    map = new google.maps.Map($('#map-canvas')[0], myOptions);

    // input addresses here
    var addresses = <%=@arr%>;
    var names = <%=raw @names.to_json.gsub("</", "<\\/")%>
    var descriptions = <%=raw @descriptions.to_json.gsub("</", "<\\/")%>;
       

    
    var marker = [];
    var infowindow = [];
    for (var x = 0; x < addresses.length; x++) 
    {
        var latlng = new google.maps.LatLng(addresses[x][1], addresses[x][0]);
        marker[x] = new google.maps.Marker({
            position: latlng,
            map: map
            });

        
        var contentString =  '<div class="info-container"><h1 class="info-header">'+names[x].toString()+'</h1>'+'<p class="info-body">' + descriptions[x].toString() + '</p></div>';
        infowindow.push(new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        }));
    }
    // make clusters for markers
    var markerCluster = new MarkerClusterer(map, marker);

    // create function that's executed immediately
    function callInfoWindow(x) {
        return function() {
            infowindow[x].open(map, marker[x]);
        }
    }

    //creates all event listeners
    for(var x = 0; x < marker.length; x++)
    {
        google.maps.event.addListener(marker[x], 'click', callInfoWindow(x));
    }

 };

 // shows or hides edit forms
 $('.edit-button').click(function(){
     $(this).next(".edit-location").toggle();
 });

 $(document).ready(initialize);
 $(document).on('page:load', initialize);
</script>
