<h1>show trips</h1>

<%= form_for Trip.new do |f| %>
	<%= f.text_field :trip_name, placeholder: "Enter New Trip" %>
	<%= f.submit "New Trip", :class => 'submit' %>
<% end %>

<%@trips.each do |trip|%>
	<p>trip name: <%=trip.trip_name%></p>
	<%=link_to "go to trip", trip_path(trip)%>
	<%= link_to 'delete', trip, :method => :delete %>
<%end%>


<div id="show_map"></div>



<script>

$(document).ready(function () {
    var map;
    var elevator;
    var myOptions = {
        zoom: 1,
        center: new google.maps.LatLng(0, 0),
        // this makes terrain show
        // mapTypeId: 'terrain',
        styles: mapStyle

    };
    map = new google.maps.Map($('#show_map')[0], myOptions);

});
</script>
