<h1>TripMapper</h1>
<h3>Login</h3>

<!-- posts to sessions#create to validate login info -->
<%= form_tag '/sessions' do |f| %>
	<%= text_field_tag :user_email, nil, placeholder: "Enter Email"%>
	<br>
	<%= password_field_tag :password, nil, placeholder: "Enter Password"%>
	<br>
	<%= submit_tag "Login", :class => 'submit' %>
	<div id="login_error"><%= flash[:notice] %></div>
<% end %>

<h3>Create Account</h3>
<%= form_for User.new do |f| %>
	<%= f.email_field :email, placeholder: "Enter Email" %>
	<br>
	<%= f.text_field :name, placeholder: "Enter Name" %>
	<br>
	<%= f.password_field :password, placeholder: "Enter Password" %>
	<br>
	<%= f.password_field :password_confirmation , placeholder: "Confirm Password"%>
	<br>
	<%= f.submit "Create Account", :class => 'submit'%>
<% end %>