<h1>TripMapper</h1>
<h3>Login</h3>
<%= form_tag '/sessions' do |f| %>
	<%= text_field_tag :user_email, nil, placeholder: "ENTER EMAIL"%>
	<br>
	<%= password_field_tag :password, nil, placeholder: "ENTER PASSWORD"%>
	<br>
	<%= submit_tag "Login", :class => 'submit' %>
<% end %>

<h3>Create Account</h3>
<%= form_for User.new do |f| %>
	<%= f.email_field :email, placeholder: "ENTER EMAIL" %>
	<br>
	<%= f.password_field :password, placeholder: "ENTER PASSWORD" %>
	<br>
	<%= f.password_field :password_confirmation , placeholder: "CONFIRM PASSWORD"%>
	<br>
	<%= f.submit "Create Account", :class => 'submit'%>
<% end %>