<h1>searching/update</h1>

<!-- searching and patching new locations -->
<%=form_for Location.new, url: "/locations/#{@location.id}", html: {method: "patch"} do |f|%>
	<%=f.text_field :address, value: @location.address %>
	<%=f.submit "Go!", :class => 'submit' %>
	<%=link_to "Save", trip_path(@location.trip_id)%>
<%end%>

<div id="map_canvas"></div>

<script>

// function initialize() {
//     var latlng = new google.maps.LatLng(-34.397, 150.644);
//     var myOptions = {
//         zoom: 8,
//         center: latlng,
//         mapTypeId: google.maps.MapTypeId.ROADMAP,
//         styles: mapStyle 
//     };
//     var map = new google.maps.Map(document.getElementById("map_canvas"),
//             myOptions);
// }
// google.maps.event.addDomListener(window, "load", initialize);

$(document).ready(function () {
    var map;
    var elevator;
    var latlng = new google.maps.LatLng(<%=@location.coordinates[1]%><%=", "%><%= @location.coordinates[0]%>);
    


    var myOptions = {
        zoom: 6,
        center: latlng,
        // this makes terrain show
        // mapTypeId: 'terrain',
        styles: mapStyle

    };
    map = new google.maps.Map($('#map_canvas')[0], myOptions);
  
        $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+<%=@location.coordinates[1]%>+','+<%=@location.coordinates[0]%>+'&sensor=false', null, function (data) {
            var p = data.results[0].geometry.location;
            
            var latlng = new google.maps.LatLng(p.lat, p.lng);
            new google.maps.Marker({
                position: latlng,
                animation: google.maps.Animation.DROP,
                map: map
            });

        });

    google.maps.event.addListener(map, 'click', function(event) {
    addMarker(event.latLng);
  	});

  	function addMarker(location) {
  	var marker = new google.maps.Marker({
    	position: location,
    	map: map
  	});
  	
}

});
</script>